<p style="color: green"><%= notice %></p>

<%= render @add_category_to_product %>

<div>
  <%= link_to "Edit this add category to product", edit_add_category_to_product_path(@add_category_to_product) %> |
  <%= link_to "Back to add category to products", add_category_to_products_path %>

  <%= button_to "Destroy this add category to product", @add_category_to_product, method: :delete %>
</div>
